body {
    background-color: #FAF3E1;
    font-family: "Cormorant", serif;
    margin: 50px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    max-width: 800px;
    margin: 35px auto;
}

.tile{
    padding: 8px;
    width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: contain;
}

.header {
  max-width: 900px;
  margin: 60px auto 30px auto;
  text-align: center;
}

.title {
    color: #214E79;
  font-size: 60px;
  font-weight: 80;
  margin-bottom: 30px;
}

.statement {
  font-size: 18px;
  font-weight: 20;
  color: #67686e;
  margin-bottom: 60px;
}



