body {
    background-color: #d5d5d5 !important;
    margin: 0;
    align-items: center;
    display: flex;
}
/* use class selectors*/
.full img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
